.product-filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width:85%;
    height:80px;
    margin-top: 20px;
}

.product-filter-header > .title-text{
    font-size: 1.1em;
    margin-left: 10px;
}



.sort-by-group{
    align-content:right;
}