.site-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width:80vw;
    height:80px;
    left: 10%;
    box-sizing: border-box;
}

.site-header > .title-text{
    transform: translate(-15%, 0);
}

.site-header > .cart-group{
    display: flex;
    flex-direction: row;
    width:min-content;
    align-content: center;

}


.site-header .cart-group > *{
    display: flex;
    flex-direction: row;
    width:60px;
    align-content: center;

}

.site-header *{
    align-self: center;
}


.navigation-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    height: 30px;
    left: 15%;
    right: auto;
}

.navigation-menu-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 10px;
    height: 100%;
}

.navigation-menu-item * {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
    font-size: 1em;
    cursor: pointer;
}